
<h4>Invoice Genration</h4>

<p>For Invoice Genration fallow below steps</p>
<ol>
    <li>Click on + add new record button</li>
    <li>Add new record window open</li>
    <li>Select client from dropdown list</li>
    <li>Select date from date picker</li>
    <li>Click on SAVE button</li>
    <li>New record will add on the invoice table</li>
    <li>Click on details button</li>
    <li>Invoice details table open</li>
    <li>Two choices is here </li>
</ol>