@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page Not Found";
}


<div class="panel panel-info">
    <div class="panel-heading">
        @Html.ActionLink("Dashboard", "Index", "Home")
    </div>
    <div class="panel-body">
        <h2>The Page You Are Looking For Not Found..</h2>
        <h3>Please report your system administrator</h3>

    </div>
</div>


