@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorized";
}

<div class="panel panel-info">
    <div class="panel-heading">
        @Html.ActionLink("Dashboard", "Index", "Home")
    </div>
    <div class="panel-body">
        <h2>Hi, You are not Authorized to do this action, <br /> Please contact Application Administrator</h2>
    </div>
</div>




