@{
    ViewBag.Title = "User Login Info";
}

<div class="panel panel-info">
    <div class="panel-heading">
        @Html.ActionLink("Dashboard", "Index", "Home") |
        @Html.DropDownList("logintype", new SelectList((ViewBag.logintype) as SelectList, "Value", "Text"), new { @class = "search-box" })
        <input type="text" class="search-box" id="name" placeholder="Search.." />
        <button id="search" type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
    <div class="panel-body">
        <div id="table"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#table').jtable({
            title: 'User Login Info',
            paging: true,
            pagesize: 3,
            actions: {
                listAction: '@Url.Action("List")',
                deleteAction: '@Url.Action("Delete")'
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'UserName',
                    width: '2%'
                },
                UserName: {
                    title: 'UserName',
                    width: '2%'
                },
                Date: {
                    title: 'Date',
                    width: '2%',
                    type: 'date',
                    display: function (data) {
                        if (data.record.Date != null)
                            return moment(data.record.Date).format('DD/MMM/YYYY')
                    },
                },
                Time:{
                    title: 'Time',
                    width :'2%',
                }

                //End of Contact Child Table
            },
            formCreated: function (event, data) {
                data.form.find('input[name="Name"]').addClass('validate[required]');
                data.form.validationEngine();
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });
        $('#table').jtable('load', { type: $('#logintype').val() });

        $('#name').bind('keyup', function (e) {
            if (e.which == 13) {
                $('#table').jtable('load', {
                    name: $('#name').val(), type: $('#logintype').val()
                });
            }
        });

        $("#search").click(function (e) {
            e.preventDefault();
            $('#table').jtable('load', {
                name: $('#name').val(), type: $('#logintype').val()
            });
        });
    });
</script>
