@{
    ViewBag.Title = "About";
}

<div class="alert alert-success">
    <strong>Master</strong><br />
    <strong>New! 06 May 2016 </strong>
    Assign client to employee, Option available in employee master
</div>
<div class="alert alert-success">
    <strong>Report</strong><br />
    <strong>New! 06 May 2016 </strong>
    Clients assign to employee report
</div>
<div class="alert alert-success">
    <strong>Invoice</strong><br />
    <strong>New! 06 May 2016 </strong>
    Admin Officer can now edit/delete invoice details
</div>
